name: build

on:
  pull_request: {}
  workflow_dispatch: {}
  push:
    branches:
      - 'main'
    tags-ignore:
      - '**'

jobs:
  multiplatform:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: "21"

      - uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Test
        run: |
          ./gradlew build
        env:
          develocity-access-key: ${{ secrets.DV_SOLUTIONS_ACCESS_KEY }}
