name: build

on:
  pull_request: {}
  workflow_dispatch: {}
  push:
    branches:
      - 'main'
    tags-ignore:
      - '**'

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"

jobs:
  jvm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: "21"

      - uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false


      - name: Test Native, JS and Wasm
        run: |
          ./gradlew build


  multiplatform:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: "21"

      - uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      # We set `SDKROOT` as a workaround for https://github.com/gradle/gradle/pull/29227
      - name: Check test files
        run: |
          SDKROOT=$(xcrun -sdk macosx --show-sdk-path) ./gradlew generateTests --stacktrace --warning-mode all
          if [ ! -z "$(git status --porcelain)" ]; then git diff; echo -e "\nTest files changed. Did you run ./gradlew generateTests?"; exit 1; fi

      - name: Install Chrome
        uses: browser-actions/setup-chrome@latest

      - name: Test
        run: |
          ./gradlew build
